*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 15px;
}

main{
    height: calc(100vh-70px);
    display: flex;
    background-color: #f00707bd;
}
.side-bar{
    height: 100%;
    width: 17%;
    color: white
}

.left{
    display: flex;
    align-items: center;
}

.left #menu{
    padding: 0 7px;
    cursor: pointer;
}

.search{
    display:flex;
}

.search form{
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
}

.search input{
    width: 600px;
    padding: 10px;
    border: none;
    font-size: 14px;
}

input:focus{
    outline: none;
}

.search button{
    width: 60 px;
    border: none;
}

.material-icons{
    color: #0f0f0f;
    padding: 0 7px;
    cursor: pointer;
}